<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div id="content">
    <div class="container">
    <h2 class="title-divider"><span>Honda <span class="de-em">Civic Sedan LX 1.7 16V 115cv Mec. 4p</span></span> 
      <small>Placa: <%= @vehicle.numberplate %> </small></h2>
        <div class="tabbable">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><i style="color: #141414;" class="fa fa-info-circle"></i> Informações</a></li>
            <li><a href="#tab2" data-toggle="tab"><i style="color: #141414;" class="fa fa-tint"></i> Abastecimentos</a></li>
            <li><a href="#tab3" data-toggle="tab"><i style="color: #141414;" class="fa fa-wrench"></i> Manutenções</a></li>            
            <li><a href="#tab4" data-toggle="tab"><i style="color: #141414;" class="fa fa-calendar"></i> Lembretes</a></li>
            <li><a href="#tab5" data-toggle="tab">Configurações</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
              <div class=".col-md-12">
                <%= line_chart({20.day.ago => 5, 1368174456 => 4, "2013-05-07 00:00:00 UTC" => 7}) %>
                <%= pie_chart({"Football" => 10, "Basketball" => 5}) %>
              </div>
              <p>Dignissim tincidunt mattis lorem, sagittis nisi, amet ut pulvinar lectus cursus ac! Enim turpis odio dis. Non ut vel, nisi dapibus? Velit augue tortor, ut ac ac nec tortor nec, mauris massa.</p>
            </div>
            <div class="tab-pane fade" id="tab2">
              <div class=".col-md-12">
                <%= line_chart @vehicle.refuellings.group_by_day(:date).average(:average_consumption),
                :library => {title: 'Consumo médio'} 
                %>
              </div>
              <div id="tools">
                <a href="#" class="btn btn-success pull-right spaced">
                  <i class="icon-plus icon-white">
                  </i> Novo abastecimento</a>
              </div>
              
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Data</th>                
                    <th>Km</th>
                    <th>Litros</th>
                    <th>Preço do Litro</th>                
                    <th>Total</th>
                    <th>Kms rodados</th>
                    <th>Consumo Médio</th>
                    <th>Posto</th>
                  </tr>
                </thead>
                <tbody>
                  <% @refuellings.each do |refill| %>
                  <tr>
                    <td>
                      <%= l refill.date %>
                    </td>
                    <td>
                      <%= refill.km %>
                    </td>
                    <td>
                      <%= number_with_delimiter(refill.liters) %>
                    </td>
                    <td>
                      <%= number_to_currency(refill.liter_price, precision: 3) %>
                    </td>
                    <td>
                      <%= number_to_currency(refill.total_value) %>
                    </td>                
                    <td>
                      <%= refill.km_runned %>
                    </td>
                    <td>
                      <% case refill.result.value
                           when 0 %>
                            <i  style="color: #C0C0C0;" class="fa fa-arrow-right"></i> 
                            <%= number_to_currency(refill.average_consumption, unit: "Km/l", separator: ",", delimiter: "", format: "%n %u") %>
                        <% when 1 %>
                            <i  style="color: #008000;" class="fa fa-arrow-up"></i> 
                            <%= number_to_currency(refill.average_consumption, unit: "Km/l", separator: ",", delimiter: "", format: "%n %u") %>
                        <% when 2 %>
                            <i  style="color: #FF0000;" class="fa fa-arrow-down"></i> 
                            <%= number_to_currency(refill.average_consumption, unit: "Km/l", separator: ",", delimiter: "", format: "%n %u") %>
                      <% end %>
                    </td>
                    <td> 
                      <%= refill.gas_station %>
                    </td> 
                  </tr>
                  <% end %>           
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="tab3">
              <div class=".col-md-8">
                <%= pie_chart({"Football" => 10, "Basketball" => 5}) %>
              </div>
              <div id="tools">
                <a href="#" class="btn btn-success pull-right spaced"><i class="fa fa-plus fa fa-white"></i> Nova Manutenção</a>
              </div>
              <br>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Data</th>                
                    <th>Km</th>
                    <th>Custo</th>
                    <th>Descrição</th>                
                    <th>Local</th>
                    <th style="text-align: center;">NF</th>
                    <th>Garantia</th>
                    <th>Garantia restante</th>
                    <th>Editar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      18/09/2013
                    </td>
                    <td>
                      154320
                    </td>
                    <td>
                      R$450,00
                    </td>
                    <td>
                      Troca de correia dentada
                    </td>
                    <td>
                      D'Carros Center
                    </td>
                    <td style="text-align: center;">
                      <i class="fa fa-paperclip"></i>
                    </td>            
                    <td>
                      5 dias
                    </td>
                    <td>
                      Nenhum
                    </td>
                    <td style="text-align: center; font-size: 18px">
                      <i class="fa fa-edit"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      18/09/2013
                    </td>
                    <td>
                      154320
                    </td>
                    <td>
                      R$450,00
                    </td>
                    <td>
                      Troca de Pneus, geometria e balanceamento
                    </td>
                    <td>
                      D'Carros Center
                    </td> 
                    <td style="text-align: center;">
                      <i class="fa fa-paperclip"></i>
                    </td>               
                    <td>
                      3 meses
                    </td>
                    <td>
                      45 dias
                    </td>
                    <td style="text-align: center; font-size: 18px">
                      <i class="fa fa-edit"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      18/09/2013
                    </td>
                    <td>
                      154320
                    </td>
                    <td>
                      R$2750,00
                    </td>
                    <td>
                      Troca de buchas e amortecedores
                    </td>
                    <td>
                      D'Carros Center
                    </td> 
                    <td style="text-align: center;">
                      <i class="fa fa-paperclip"></i>
                    </td>             
                    <td>
                      12 meses
                    </td>
                    <td>
                      9 meses
                    </td>
                    <td style="text-align: center; font-size: 18px">
                      <i class="fa fa-edit"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      18/09/2013
                    </td>
                    <td>
                      154320
                    </td>
                    <td>
                      R$450,00
                    </td>
                    <td>
                      Troca de correia dentada
                    </td>
                    <td>
                      D'Carros Center
                    </td>  
                    <td style="text-align: center;">
                      <i class="fa fa-paperclip"></i>
                    </td>              
                    <td>
                      30 dias
                    </td>
                    <td>
                      13 dias
                    </td>
                    <td style="text-align: center; font-size: 18px">
                      <i class="fa fa-edit"></i>
                    </td>
                  </tr>
             
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade in active" id="tab4">

              <p>Dignissim tincidunt mattis lorem, sagittis nisi, amet ut pulvinar lectus cursus ac! Enim turpis odio dis. Non ut vel, nisi dapibus? Velit augue tortor, ut ac ac nec tortor nec, mauris massa.</p>
            </div>
            <div class="tab-pane fade in active" id="tab5">
              <p>Dignissim tincidunt mattis lorem, sagittis nisi, amet ut pulvinar lectus cursus ac! Enim turpis odio dis. Non ut vel, nisi dapibus? Velit augue tortor, ut ac ac nec tortor nec, mauris massa.</p>
            </div>
          </div>
        </div>
  </div>
</div>

<div id="content-below" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="upsell"> <small class="muted">99.9% Uptime <span class="spacer">//</span> Free upgrade assistence <span class="spacer">//</span> 24/7 Support <span class="spacer">//</span> Plans from $19.99/month <span class="spacer">//</span> </small> <a href="pricing.htm" class="btn btn-primary">Start your Free Trial Today! <i class="fa fa-arrow-right"></i></a> </div>
    </div>
  </div>
</div>