<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div id="content">
    <div class="container">
    <h2 class="title-divider"><span>Abastecimentos <span class="de-em"> do veículo</span></span> 
      <small>Honda Civic Sedan LX 1.7 16V 115cv Mec. 4p Placa: <%= @vehicle.numberplate %> </small></h2>
                      <div class=".col-md-12">
                <%= line_chart @vehicle.refuellings.group_by_day(:date).average(:average_consumption),
                :library => {title: 'Consumo médio'} 
                %>
              </div>
              <div id="tools">
                <a href="#" class="btn btn-success pull-right spaced">
                  <i class="icon-plus icon-white">
                  </i> Novo abastecimento</a>
              </div>
              
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Data</th>                
                    <th>Km</th>
                    <th>Litros</th>
                    <th>Preço do Litro</th>                
                    <th>Total</th>
                    <th>Kms rodados</th>
                    <th>Consumo Médio</th>
                    <th>Posto</th>
                  </tr>
                </thead>
                <tbody>
                  <% @refuellings.each do |refill| %>
                  <tr>
                    <td>
                      <%= l refill.date %>
                    </td>
                    <td>
                      <%= refill.km %>
                    </td>
                    <td>
                      <%= number_with_delimiter(refill.liters) %>
                    </td>
                    <td>
                      <%= number_to_currency(refill.liter_price, precision: 3) %>
                    </td>
                    <td>
                      <%= number_to_currency(refill.total_value) %>
                    </td>                
                    <td>
                      <%= refill.km_runned %>
                    </td>
                    <td>
                      <% case refill.result.value
                           when 0 %>
                            <i  style="color: #C0C0C0;" class="fa fa-arrow-right"></i> 
                            <%= number_to_currency(refill.average_consumption, unit: "Km/l", separator: ",", delimiter: "", format: "%n %u") %>
                        <% when 1 %>
                            <i  style="color: #008000;" class="fa fa-arrow-up"></i> 
                            <%= number_to_currency(refill.average_consumption, unit: "Km/l", separator: ",", delimiter: "", format: "%n %u") %>
                        <% when 2 %>
                            <i  style="color: #FF0000;" class="fa fa-arrow-down"></i> 
                            <%= number_to_currency(refill.average_consumption, unit: "Km/l", separator: ",", delimiter: "", format: "%n %u") %>
                      <% end %>
                    </td>
                    <td> 
                      <%= refill.gas_station %>
                    </td> 
                  </tr>
                  <% end %>           
                </tbody>
              </table>
  </div>
</div>

<div id="content-below" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="upsell"> <small class="muted">99.9% Uptime <span class="spacer">//</span> Free upgrade assistence <span class="spacer">//</span> 24/7 Support <span class="spacer">//</span> Plans from $19.99/month <span class="spacer">//</span> </small> <a href="pricing.htm" class="btn btn-primary">Start your Free Trial Today! <i class="fa fa-arrow-right"></i></a> </div>
    </div>
  </div>
</div>